.img{
    height: 290px;
    border-radius: 50%;
}

.card{
    width: 18rem;
    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: .5s;
}
.card:hover{
    cursor: pointer;
    transform: scale(0.9);
    
}
